@import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Quattrocento+Sans&display=swap');

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Quattrocento, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Quattrocento Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

/* Code modified from https://codepen.io/ConStambo/pen/WxRQVq*/
#menu {
    float: right;
}
#menu li {
    float: left;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    transition: 0.3s ease;
    text-decoration: none;
    color: inherit;
}

/* Code modified from https://codepen.io/Calloumi/pen/DyKMbj*/

#menu a:hover {
    border-top: 4px solid #3a3a3a;
    border-bottom: 4px solid #3a3a3a;
    padding: 6px 0;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.hero {
    width: 100%;
    height: auto;
  }
  .hero img {
    width: 100%;
    height: auto;
  }

  /* news section */
  .article {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    }
    .article h2 {
    text-align:center;
    }
    .article-image {
    float: right;
    margin-left: 20px;
    }
    .article-image img {
    display: block;
    max-width: 100%;
    max-height:300px;
    }
    .article-content {
    overflow: hidden;
    }
    .news-text {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    }
    
/* welcome section */
.welcome h2 {
    text-align: center;
    margin: 20px 0;
    }
    .welcome p, .welcome h4 {
    text-align: center;
    margin: 20px 0;
    }